[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

twine = "*"
numpy = "*"
pandas = "*"
python-dotenv = "*"
smart-open = "*"
pygsheets = "*"
